.mainBody {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    background-size: 100px 100px;
    background-image:
    linear-gradient(to right, #d4d4d432 1px, transparent 1px),
    linear-gradient(to bottom, #d4d4d431 1px, transparent 1px);

}

.marquee {
    --gap: 0.01rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    position: absolute;
    bottom: 0;
    background: black;
    padding-bottom: 10px;
    transform: rotate(-1deg);
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll 20s infinite linear;
}

.marquee p {
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: -1px;
    text-transform: lowercase;
    color: white;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.first {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.first h1 {
    font-size: 15rem;
    font-family: 'Fancy';
    text-align: center;
    text-transform: uppercase;
}

.tink {
    font-size: 15rem;
    color: transparent;
    font-family: 'SansFrancisco';
    text-align: center;
    text-transform: lowercase;
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hack {
    width: fit-content;
    position: relative;
    z-index: 1;
    color: white;
}

svg {
    font-size: 0.5rem;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: -20%;
    right: -10%;
    z-index: 10;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(-360deg);
    }
}

text {
    font-size: 0.69rem;
    font-family: 'Helvetica';
    text-transform: uppercase;
    color: white;
}

.badge {
    font-size: 1.5rem;
    font-family: 'Poppins' , sans-serif;
    color: white;
    transform: rotate(-90deg);
    position: absolute;
    text-transform: capitalize;
    left: 0;
    bottom: 15%;
}

.badge2 {
    font-size: 1.5rem;
    font-family: 'SansFrancisco';
    color: white;
    transform: rotate(90deg);
    position: absolute;
    text-transform: lowercase;
    right: 10px;
    top: 15%;
}

.register {
    font-size: 1.5rem;
    font-family: 'Helvetica';
    font-weight: 700;
    color: white;
    padding: 10px 20px;
    border-radius: 1rem;
}

.date {
    font-size: 1.5rem;
    font-family: 'NeoPixel';
    color: white;
    transform: rotate(90deg);
    position: absolute;
    text-transform: lowercase;
    right: 0;
    top: 15%;
}

.date2 {
    font-size: 1.5rem;
    font-family: 'NeoPixel';
    color: white;
    transform: rotate(-90deg);
    position: absolute;
    text-transform: lowercase;
    left: -10px;
    bottom: 15%;
}

.second {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem 2rem 0 0;
    position: relative;
}

.second h2 {
    font-size: 5rem;
    font-family: 'SansFrancisco';
    text-transform: capitalize;
    color: transparent;
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.third {
    height: 100vh;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem 2rem 0 0;
    position: sticky;
    top: 0;
    left: 0;
}

.third h2 {
    font-size: 5rem;
    color: white;
    text-transform: capitalize;
    font-family: 'SansFrancisco';
}

.third p {
    text-align: center;
}

.prizeHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 8rem;
    height: 3rem;
}

.prizeHolder p {
    position: absolute;
}

.mind {
    opacity: 0;
    font-size: 10rem;
}

.amt {
    font-size: 7rem;
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
    background: black;
    padding: 2rem;
    transform: skew(-10deg);
}

.fourth {
    height: 100vh;
    width: 100%;
    color: white;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem 2rem 0 0;
}

.fourth h2 {
    font-size: 5rem;
    font-family: 'SansFrancisco';
    text-transform: capitalize;
    color: transparent;
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sponsorsHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    gap: 2rem;
    font-size: 2rem;
}

.fifth {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifth h2 {
    font-size: 5rem;
    font-family: 'SansFrancisco';
    color: black;
    margin-top: 10%;
    margin-bottom: 5%;
}

.faqHolder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
}

@media (max-width: 1000px) {
    .tink {
        font-size: 4rem;
    }

    .first h1 {
        font-size: 4rem;

    }

    .second h2 {
        font-size: 3rem;
    }

    .body p {
        font-size: 1.5rem;
    }

    .body span {
        opacity: 0.1;
    }

    .third h2 {
        font-size: 3rem;
    }

    .second h2 {
        width: 100%;
        text-align: center;
    }

    .third p {
        font-size: 2.5rem;
    }

    .fourth h2 {
        font-size: 3rem;
    }

    .fifth h2 {
        font-size: 3rem;
    }

    .date2 {
        bottom: 30%;
        left: -70px;
    }

    .faqCard {
        min-height: fit-content;
    }
}

@media (max-width: 600px) {
    .first {
        width: 99vw;
    }

    .date {
        top: 20%;
        right: -90px;
    }

    .badge {
        left: -40px;
    }

    .second {
        width: 99vw;
    }

    .date2 {
        bottom: 20%;
        left: -70px;
    }

    .badge2 {
        top: 20%;
        right: -40px;
    }

    .second h2 {
        width: 100%;
        text-align: center;
    }
}