.faqCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    width: 300px;
    background: white;
    padding: 2rem 3rem;
    border-radius: 1rem;
    min-height: 550px;
}
.faqCard h3{
    width: 100%;
    text-align: left;
    font-size: 2rem;
    font-family: 'Poppins';
}